<!DOCTYPE html>
<html>
  <head>
    <title>Projetofinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app/assets/vendor/jquery-3.7.1.min.js', 'app/assets/vendor/popper.min.js', 'app/assets/vendor/bootstrap.min.js' %> <!-- Caminhos locais para jQuery, Popper e Bootstrap -->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Task manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Tasks', tasks_path, class: 'nav-link' %>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
